/*
 * Dropit v1.0
 * http://dev7studios.com/dropit
 *
 * Copyright 2012, Dev7studios
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */
 

/* These styles assume you are using ul and li */
.dropit {
    list-style: none;
	padding: 0;
	margin: 0;
}
.dropit .dropit-trigger { position: relative; }
.dropit .dropit-submenu {
    position: absolute;
    top: 100%;
    left: 0; /* dropdown left or right */
    z-index: 1000;
    display: none;
    min-width: 150px;
    list-style: none;
	padding: 0;
	margin: 0;
}
.dropit .dropit-open .dropit-submenu { display: block; }
/* These styles were provided in the sample stylesheet on the Dropit website */
.menu ul { display: none; } /* Hide before plugin loads */
.menu ul.dropit-submenu {
    background-color: #555555;
    margin: 3px 0 0 1px;
}      
.menu ul.dropit-submenu a {
    display: block;
	font-size: 65%;
    line-height: 25px;
    color: #7a868e;
    padding: 0 18px;
}
.menu ul.dropit-submenu a:hover {
    background: #248fc1;
    color: #fff;
    text-decoration: none;
}
.menu li {
	background-color: #333333;
	border: 1px white groove;
}
.menu li.heading {
	font-size: 150%;
	padding-left: 10px;
	padding-right: 10px;
	display: inline; /* Display navigation menu horizontally */
}  
.menu a {
	text-decoration: none;
	color: #777777;
} 