/*
CSS for MetalBase website
Version: May 3, 2014
*/

/*
Structure Tags
----------------
*/
h1 {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 250%;
}

body {
	background-color: #111111;
	color: #666666;
}

/*
ID Tags
---------
*/
#titlezone  a {
	text-decoration: none;
	background-color: #111111;
	color: #af111c;
}

#titlezone .titlezoneimage {
	width: 80px;
	height: 60px;
}

/*
Class Tags
------------
*/
