/*
CSS for MetalBase website
Version: May 3, 2014
*/

/*
Structure Tags
----------------
*/
h1 {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 250%;
}

body {
	background-color: #111111;
	color: #666666;
	padding: 5px;
}

h1,h2,h3,h4,h5,h6,p,form {
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 2px;
}

/*
ID Tags
---------
*/
#titlezone  a {
	text-decoration: none;
	background-color: #111111;
	color: #af111c;
}

#titlezone .titlezoneimage {
	width: 80px;
	height: 60px;
}

#navigationzone {
	margin-bottom: 1px;
}

#contentzone {
	border: 2px groove white;
	margin-bottom: 3px;
	background-color: #222222;
}

#contentzone h2 {
	font-weight: bold;
	font-size: 165%;
	color: #af111c;
	padding-bottom: 0px;
}

#footerzone {
	border: 2px groove white;
	line-height: 90%;
	font-size: 75%;
	font-family: Times, Georgia, serif;
	background-color: #222222;
}

/*
Class Tags
------------
*/
