/*
CSS for MetalBase website
Version: April 29, 2014
*/

/*
Structure Tags
----------------
*/
h1 {
	font-family: Arial, Helvetica, Times, sans-serif;
}

body {
	background-color: #111111;
	color: #666666;
}

/*
ID Tags
---------
*/
#titlezone {
	border: orange solid 1px;
	margin-bottom: 2px;
}

#navigationzone {
	border: blue solid 1px;
	margin-bottom: 2px;
}

#contentzone {
	border: green solid 5px;
	margin-bottom: 2px;
}

#footerzone {
	border: red solid 1px;
	margin-bottom: 2px;
}

/*
Class Tags
------------
*/
.nolinkbody {
	text-decoration:none;
	color: #666666;
}