/*
CSS for MetalBase website
Version: April 29, 2014
*/

/*
Structure Tags
----------------
*/
h1 {
	font-family: Arial, Helvetica, Times, sans-serif;
}

body {
	background-color: #111111;
	color: #666666;
}

#footerzone {
	border: red solid 1px;
}

.nolinkbody {
	text-decoration:none;
	color: #666666;
}